*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6600309a 0%, #cacaca8a 100%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #660030;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.caja__trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background-color: #fff;
    color: #660030;
}

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;    
    color: #660030;
}


.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: white;
    font-size: 16px;
    outline: none;
    display: block;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: #660030;
    color: white;
    cursor: pointer;
    outline: none;
}
.contenedor__login-register form button:hover{
    background: #880030;
}
.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}

.contenedor_contrasena{
    position: relative;
}

.eye_icon{
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #660030;
}

.eye_icon:hover{
    color: #880030;
}

.admin_check_container {
    display: flex;
    margin-top: 5px;

}

.admin_check_container label {
    color: #333;
}
.admin_check_container {
    display: flex;
    margin-right: 200px;
}

.admin_check_container colgroup {
    color: aliceblue;
}
#admin_pin_div {
    margin-top: 0;
}
@media screen and (max-width: 850px) {
    main{
        margin-top: 50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0;
        position: absolute;
    }

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}